/* Global Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  font-family: 'Roboto', 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 1rem;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #333;
  color: #fff;
  margin: auto;
  width: 100%;
}

ul {
  list-style-type: none;
}

ul > li {
  display: block;
}

li > a {
  display: block;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  margin-right: 0.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.modal {
  display: flex;
}

.modal-space {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  height: 100vh;
}

.modal-space__active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  height: 100vh;
}

section {
  padding: 1rem;
}

section h2{
  text-align: center;
}

.top .hamburger-inner,
.top .hamburger-inner::before,
.top .hamburger-inner::after,
.top .hamburger.is-active .hamburger-inner,
.top .hamburger.is-active .hamburger-inner::before,
.top .hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 1;
}

/* Header-only Selectors */
header.top {
  background-color: #222;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 10;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.top--brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.top--brand--icon {
  padding: 3.5px;
}

.top--brand--logo {
  font-size: 2rem;
  padding: 1rem;
}

.top--menu {
  display: none;
}

.top--menu ul {
  font-size: 0;
}

.top--menu li {
  line-height: 4rem;
  transition: 250ms;
}

.top--menu li:hover {
  background-color: #444;
}

.top--menu a {
  display: block;
  font-size: 1rem;
}

/* Main content-specfic Selectors */
.content--top {
  height: 100vh;
  /* background: url('../images/image.jpg'); */
  background-color: #fff;
  color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  position: relative;
}

.content--top p {
  position: relative;
  top: 50%;
  text-align: center;
}

.content--top--title {
  font-size: 2.5rem;
  font-weight: bold;
}

.content--top--subtitle {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

/* Sidebar-specfic Selectors */
aside.sidebar {
  background-color: #222;
  position: fixed;
  top: 4rem;
  left: -100%;
  height: 100vh;
  width: 100%;
  display: block;
  z-index: 10;
  transition: 250ms ease-out;
}

aside.sidebar__open {
  background-color: #222;
  position: fixed;
  top: 4rem;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
  z-index: 10;
}

.sidebar--menu ul {
  border-bottom: 1px solid #000;
}

.sidebar--menu li {
  line-height: 4rem;
  transition: 250ms;
}

.sidebar--menu li:hover {
  background-color: #444;
}

footer.bottom {
  height: 100px;
  background-color: #000;
  display: flex;
}

.bottom--copyright {
  margin: auto;
}

.top-btn {
  background-color: #222;
  color: #fff;
  position: fixed;
  padding: 1rem 1.5rem;
  right: 0;
  bottom: 0;
  z-index: 5;
  border: none;
  transition: 250ms;
  cursor: pointer;
  font-size: 1.5rem;
  border-top-left-radius: 1rem;
}

.top-btn:hover {
  background-color: #444;
}

/* Tablet Only */
@media (min-width: 768px) {
  .top--brand {
    justify-content: flex-start;
    width: 240px;
    border-right: 1px solid #000;
  }

  .top--menu {
    display: block;
  }

  .top--menu li {
    display: inline-block;
  }

  .top--menu a {
    display: block;
  }

  aside.sidebar {
    left: -240px;
    width: 240px;
  }

  aside.sidebar__open {
    left: 0;
    width: 240px;
  }
}

/* Desktop Only*/
@media (min-width: 1024px) {
}

/* Widescreen-Desktop Only */
@media (min-width: 1216px) {
}

/* Full HD Only */
@media (min-width: 1408px) {
}
