/* Global Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 1rem;
}

body {
  min-width: 360px;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
  margin: auto;
  text-align: center;
}

ul {
  font-size: 0;
  list-style-type: none;
}

ul > li {
  display: block;
}

li > a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.light {
  background-color: #eee;
  color: #000;
}

.dark {
  background-color: #333;
  color: #fff;
}

.modal {
  display: flex;
}

.modal__space {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  z-index: -10;
}

/* Header-only Selectors */
header.top {
  background-color: inherit;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  z-index: 10;
}

.top--icon {
  padding: 3.5px;
}

.top--brand {
  font-size: 2rem;
  padding: 1rem;
}

.top--menu {
  display: none;
}

/* Main content-specfic Selectors */
main.content {
  height: 100vh;
  background-color: #eee;
}

/* Sidebar-specfic Selectors */
aside.sidebar {
  background-color: #000;
  position: fixed;
  left: 0;
  top: 4rem;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: block;
  z-index: -10;
  opacity: 0;
  transition: opacity 500ms ease;
}

aside.sidebar__open {
  background-color: #000;
  position: fixed;
  left: 0;
  top: 4rem;
  bottom: 0;
  height: 100vh;
  width: 100%;
  display: block;
  opacity: 1;
  z-index: 10;
}

footer.bottom {
  background-color: gray;
  display: block;
}
