/* Global Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  backface-visibility: hidden;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 1rem;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
  margin: auto;
  width: 100%;
}

ul {
  list-style-type: none;
}

ul > li {
  display: block;
}

li > a {
  display: block;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dark {
  background-color: #333;
  color: #fff;
}

.modal {
  display: flex;
}

.modal__space {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: -10;
}

section {
  padding: 1rem;
}

/* Header-only Selectors */
header.top {
  background-color: #eee;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 10;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.top--brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.top--brand--icon {
  padding: 3.5px;
}

.top--brand--logo {
  font-size: 2rem;
  padding: 1rem;
}

.top--menu {
  display: none;
}

/* Main content-specfic Selectors */
.content--image {
  height: 100vh;
  background: url('../images/image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.content--image p {
  position: relative;
  text-align: center;
}

/* Sidebar-specfic Selectors */
aside.sidebar {
  position: fixed;
  top: 4rem;
  width: 100%;
  display: block;
  z-index: -1;
  opacity: 0;
  transition: 250ms linear;
}

aside.sidebar__open {
  position: fixed;
  top: 4rem;
  width: 100%;
  display: block;
  z-index: 10;
  opacity: 1;
}

.sidebar--menu ul {
  border: 1px solid #000;
  border-top: none;
}

.sidebar--menu li {
  border-bottom: 1px solid #000;
}

.sidebar--menu li:last-child {
  border-bottom: none;
}

.sidebar--menu li a {
  line-height: 4rem;
  background-color: #eee;
}

.sidebar--menu li a:hover {
  background-color: #ddd;
}

footer.bottom {
  height: 50px;
  background-color: gray;
  display: flex;
}

.bottom--copyright {
  margin: auto;
}

/* Tablet Only */
@media (min-width: 768px) {
}

/* Desktop Only*/
@media (min-width: 1024px) {
}

/* Widescreen-Desktop Only */
@media (min-width: 1216px) {
}

/* Full HD Only */
@media (min-width: 1408px) {
}
